name: Build and Push to ECR

on:
  push:
    paths:
      - 'container/app/**'
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

            - name: Build, tag, and push image
        run: |
          ECR_REPO="166647428061.dkr.ecr.eu-west-1.amazonaws.com/node-container-app"
          docker build -f container/app/Dockerfile -t node-app:latest container/app
          docker tag node-app:latest $ECR_REPO:latest
          docker push $ECR_REPO:latest

